.container {
  border-style:solid;
  border-color:#74b247;
  border-width:30px;
  background-color:white;
  color:black;
}
* {
  font-family:News Gothic MT, Arial, sans-serif;
}
.header {
  font-family:Ralph Walker;
  font-size:36px;
  padding-left:15px;
}
.navbar {
  position:relative;
  list-style:none;
  width:100%;
  float:right;
  text-align:center;
  font-size:18px;
  background-color:#b8b7b7;
  padding-bottom: 15px;
}
.navbar ul li
{
  float:left;
  display:inline-block;
}
.navbar ul li a:link,a:visited
{
  color:black;
  text-align:center;
  padding:10px 20px;
  text-decoration:none;
  float:left;
}
.navbar a:hover,a:active
{
  background-color:#7A8B8B;
}
.leftcolumn {
	float:left;
	padding-left:30px;
  	padding-right:30px;
	padding-top:30px;
	text-align: center;
}
.leftcolumn li {
    list-style:none;
    padding-top: 30px;
}
.leftcolumn a:hover,a:active {
  background-color:#7A8B8B;
}
.content {
  padding:30px;
}
.content h2 {
  font-size:24px;
  padding-top:47px;
}

.footer {
  padding:5px;
  clear:both;
}
